<div class="jumbotron text-center">
	<h1> User data  </h1>

	<p>{{ message }}</p>
</div>


<div class="container">
	<form role="form" ng-submit="submitForm()" method="POST">

	  <div class="form-group">
		<label for="email">Email address:</label>
		<input type="email" class="form-control" id="email" ng-model="contact.email ">
	  </div>

	  <div class="form-group">
		<label for="pwd">Name </label>
		<input type="text" class="form-control" id="fname" ng-model="contact.name">
	  </div>

	  <div class="form-group">
		<label for="pwd">Number </label>
		<input type="text" class="form-control" id="fnumber" ng-model="contact.number">
	  </div>

	  <div class="checkbox">
		<label><input type="checkbox"> Remember me</label>
	  </div>

	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>